In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/ccb/salz4-3/hji20/hg002-q100-annotation/data/MANE.GRCh38.v1.4.refseq_genomic.mane_sel.noAlt.noFix.gff', sep='\t', header=None)
hdr = ['ctg', 'src', 'type', 'start', 'end', 'score', 'strand', 'frame', 'attributes']
df.columns = hdr
df.head()

,ctg,src,type,start,end,score,strand,frame,attributes
0,chr1,BestRefSeq,mRNA,65419,71585,.,+,.,ID=rna-NM_001005484.2;Parent=gene-OR4F5;Dbxref...
1,chr1,BestRefSeq,exon,65419,65433,.,+,.,ID=exon-NM_001005484.2-1;Parent=rna-NM_0010054...
2,chr1,BestRefSeq,exon,65520,65573,.,+,.,ID=exon-NM_001005484.2-2;Parent=rna-NM_0010054...
3,chr1,BestRefSeq,exon,69037,71585,.,+,.,ID=exon-NM_001005484.2-3;Parent=rna-NM_0010054...
4,chr1,BestRefSeq,CDS,65565,65573,.,+,0,ID=cds-NP_001005484.2;Parent=rna-NM_001005484....

In [6]:
mane_tids = set()
for _, row in df.iterrows():
    if row['type'] == 'mRNA':
        temp = row['attributes'].split(';')
        for x in temp:
            kv_pair = x.strip().split('=')
            if kv_pair[0] == 'ID':
                tid = kv_pair[1].split('-')[1]
                mane_tids.add(tid)
print(len(mane_tids))

19226

In [7]:
out_fn = "/ccb/salz4-3/hji20/hg002-q100-annotation/data/MANE.GRCh38.v1.4.refseq_genomic.mane_sel.noAlt.noFix.tids.txt"
with open(out_fn, 'w') as fh:
    for tid in mane_tids:
        fh.write(f'{tid}\n')